<!--
<div class="container">
    <div class="my-2 jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">{{ header }}</h1>
            <p class="lead">{{ description }}</p>
            <p class="lead">{{ date }}</p>
        </div>
    </div>
</div>
-->
<div class="container">
    <div class="card-deck">
        <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{ header }}</h5>
                  <p class="card-text">{{ description }}</p>
                  <a href="#" class="btn btn-primary">{{ date }}</a>
                </div>
        </div>
    </div>
</div>