{% extends "Post/base.html" %}
{% block content %} 

{% include "Post/inc_navigat.html" with SetCategory=SetCategory ActiveCategory=ActiveCategory %}

  {% if PageCount == 0 %}
    <div class="container mt-2">
      <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-4">В этой категории пока нет программ, но они скоро появятся! :)</h1>
          </div>
      </div>
    </div>
  {% else %}
  
    {% include "Post/inc_pagin.html" with numPage=numPage ListPagin=ListPagin PageCount=PageCount %}
  
    {% for ListItem in ListPost %}
      {% include "Post/inc_card_deck.html" with ListItem=ListItem %}
      {% include "Post/inc_ad.html" %}
    {% endfor %}
  
    {% include "Post/inc_pagin.html" with numPage=numPage ListPagin=ListPagin PageCount=PageCount %}
  {% endif %}

{% endblock content %}

