<div class="container mt-2">
    <div class="card mb-3">
        {% include "Post/inc_item/inc_desc/carous.html"%}
        <div class="card-body">
            <h4 class="card-title"><b>Card title</b></h4>
            <p class="card-text">
                <b>Официальный сайт:</b>
                <br>
                <b>Платформа:</b>
            </p>
            <p class="card-text">
                <b>Описание:</b>
                <br>
                This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
            </p>
          {% include "Post/inc_item/inc_desc/collap.html"%}       
        </div>
    </div>
</div>