{% if PageCount == 1 %}
{% elif PageCount > 1 %}
    <nav aria-label="navigation page block" class="mt-2">
        <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link" href="1">Первая</a></li>
            {% for ListItem in ListPagin %}
                {% if ListItem == numPage %}
                    <li class="page-item active"><a class="page-link" href="{{ ListItem }}">{{ ListItem }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="{{ ListItem }}">{{ ListItem }}</a></li>
                {% endif %}
            {% endfor %}
            <li class="page-item"><a class="page-link" href="{{ PageCount }}">Последняя ({{ PageCount }})</a></li>
        </ul>
    </nav>
{% endif %}